.conteneurPrincipal {
    -fx-border-color: #161620;
	-fx-alignment: top-center;

}
.conteneursDifficulty {
	-fx-alignment: center;
	-fx-background-color: #95c5db;

	-fx-spacing: 1em;
	-fx-font: 2em Arial;
	
}
.conteneurTitre {
    -fx-background-color: grey;
	-fx-alignment: top-left;
	-fx-font: 1.5em Arial;
}

.conteneurDifficulty {
	-fx-alignment: center;
	-fx-background-color: #95c5db;

	-fx-spacing: 5em;
	-fx-font: 2em Arial;
	
}